<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.newapp.example"
    versionCode = "10"
    version     = "3.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Booking App</name>

  <description>
      This is a Beautiful Hotel Booking App.
  </description>

  <author href="https://build.phonegap.com" email="lsenapati62@gmail.com">
      Lingaraj Senapati
  </author>

  <icon src="booking.png" />
    
  <preference name="orientation" value="portrait" />
  <preference name="fullscreen" value="true" />
  <preference name="KeepRunning" value="false"/>
  
  <preference name="android-build-tool" value="gradle" />
    
  <platform name="android" />
  
  
  <plugin name="cordova-plugin-whitelist" source="npm" />
  <plugin name="cordova-plugin-x-socialsharing" source="npm" />
  <plugin name="cordova-plugin-inappbrowser" source="npm"/>
  <plugin name="cordova-plugin-network-information" source="npm" />
  <plugin name="cordova-universal-clipboard" source="npm"/>
  <plugin name="phonegap-plugin-barcodescanner" source="npm"/>
  <plugin name="cordova-plugin-x-toast" />
  
  <plugin name="cordova-plugin-splashscreen" source="npm" />
    
  <preference name="SplashScreen" value="screen"/>
    
  <preference name="AutoHideSplashScreen" value="true" />
    
  <preference name="SplashScreenDelay" value="3000" />
 
  <preference name="SplashMaintainAspectRatio" value="true|false" />
  
  <splash platform="android" qualifier="port-ldpi" src="screen/splash.png" width="" height=""/>
  <splash platform="android" qualifier="port-mdpi" src="screen/screen-mdpi-portrait.png" width="320" height="480"/>
  <splash platform="android" qualifier="port-hdpi" src="screen/splash.png" />
  <splash platform="android" qualifier="port-xhdpi" src="screen/splash.png" />
    
  <splash platform="android" qualifier="port-ldpi" src="screen/splash.png" />
  <splash platform="android" qualifier="port-mdpi" src="screen/splash.png" />
  <splash platform="android" qualifier="port-hdpi" src="screen/splash.png" />
  <splash platform="android" qualifier="port-xhdpi" src="screen/splash.png" />  
    
  <splash src="splash.png" />
    
  
    
</widget>
